@model ApplicationUser

<form align="center" method="post" asp-controller="Home" asp-action="EditProfile" enctype="multipart/form-data">
    <div class="mx-lg-auto border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Profile</h2>
            <hr />
        </div>
        <input asp-for="Id" type="hidden" value="@ViewBag.UserId" />
        <input asp-for="@Model.JoinDate" type="hidden" value="@Model.JoinDate"/>

        <div class="form-group mb-3">
            <label asp-for="ProfilePicture" class="form-label mt-4">Profile Picture</label>
            <h5 class="card-title">
                <picture>
                    <img class="img_round" width="500" height="auto" src="~/ProfilePictures/@Model.ProfilePicture" />
                </picture>
            </h5>
            <br />
            <input class="form-control" accept="image/jpeg,image/png" type="file" asp-for="@Model.Image">
            <span asp-validation-for="ProfilePicture" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <label asp-for="Name" class="form-label">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Uname" class="form-control" placeholder="Please choose your username." />
            <label asp-for="Uname" class="form-label">Username</label>
        </div>
        <div class="form-floating mb-3">
            <label asp-for="Bio">Bio</label>
            <textarea asp-for="Bio" class="form-control" rows="10" spellcheck="true"></textarea>
            <span asp-validation-for="Bio" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="DateOfBirth" class="form-control" />
            <label asp-for="DateOfBirth" class="form-label">Birthday</label>
        </div>
       <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> Update
            @*icon gotten from https://icons.getbootstrap.com*@
        </button>

        <a asp-controller="Home" asp-action="Profile" class="btn btn-secondary">
            Cancel
        </a>
    </div>
</form>