@using System.Security.Claims;
@model ApplicationUser

@if (Model == null)
{
    <p>Cannot find account!</p>
}
else
{
    <div>        
         <div class="mb-3">
             <partial name="_UserPartialView.cshtml" for="@Model" />
         </div>
        
    @if (ViewBag.UserId == Model.Id)
    {
            <div class="card-footer">
             @*<a asp-controller="Home" asp-action="EditProfile" asp-route-id="@Model.UserID" class="btn btn-primary mx-2">*@
             <a asp-controller="Home" asp-action="EditProfile" asp-route-id="@Model.Id" class="btn btn-primary mx-auto">
                 <i class="bi bi-pencil-square"></i> Edit
             </a>
         </div>
    }
    </div>
    

}