@model PostViewModel


@if (Model != null)
{
    <div>
        <partial name="_PostPartial.cshtml" for="Post" />
    </div>
    <div class="row">
        @*Post*@
        
        @*Comments*@
        <div>
            @if (Model.Post.CommentsEnabled)
            {                
                <partial name="~/Views/Home/Comment/CreateComment.cshtml" for="Comment" style="position:fixed; height:fit-content;" />
                @foreach (CommentModel commentModel in Model.Post.Comments)
                {
                    <partial name="~/Views/Home/Comment/_CommentPartialView.cshtml" for="@commentModel" />
                }
            } else {
                <span class="disabled">Comments disabled by User</span>
            }

        </div>
    </div>

}
else
{
    <div class="loader"></div>
    <span>cannot find post</span>
}