@model PostModel

<form asp-controller="Home" asp-action="CreatePost" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="@Model.Caption" class="control-label" style="margin-bottom:2%"></label>
        <textarea asp-for="@Model.Caption" id="the-textarea" class="bg-transparent input-group mx-lg-auto" placeholder="Type here!" rows="4" cols="50" maxlength="2000" style="color:white;" autofocus></textarea>
        <div id="the-count">
            <span asp-validation-for="@Model.Caption" id="current">0</span>
            <span id="maximum">/ 2000</span>
        </div>
    </div>

    <div class="form-group" style="margin-bottom:5%">
        <label for="formFile" class="form-label mt-4">Image Upload</label>
        <input accept="image/jpeg,image/png" type="file" id="formFile" asp-for="@Model.Image">
    </div>

    <div class="modal-footer">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

