@model IEnumerable<PostModel>
@{
    ViewData["Title"] = "Home";
}

@if (Model == null)
{

}
else
{
    @if (TempData["StatusMessage"] != null)
    {
        <div class="alert alert-success sticky-top">
            @TempData["StatusMessage"]
            <button type="button" class="btn-close" data-dismiss="alert"></button>
        </div>
    }
    <div class="mx-auto">
        @foreach (PostModel pm in Model)
        {
            <div class="d-flex flex-wrap">
                <partial name="Post/_PostPartial.cshtml" for="@pm">
            </div>
        }
    </div>
}  