@model IEnumerable<PostModel>
@{
    ViewData["Title"] = "Home";
}

@if (Model == null)
{

}
else
{
    <div class="mx-auto">
        @foreach (PostModel pm in Model)
        {
            <div class="d-flex flex-wrap">
                <partial name="Post/_PostPartial.cshtml" for="@pm">
            </div>
        }
    </div>
}  