@model HomeModel
@{
    ViewData["Title"] = "Home";
}

@if (Model == null)
{

}
else
{   
    <!-- Trigger/Open The Modal -->
    <a id="myBtn" class="float my-float"><i class="bi bi-plus-square"></i></a>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="container">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create a Post</h5>
                        <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <partial name="~/Views/Home/Post/CreatePost.cshtml" for="@Model.Post">
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        @if (TempData["StatusMessage"] != null)
        {
            <div class="alert alert-dismissible alert-success sticky-top">
                @TempData["StatusMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }
        <div class="mx-auto">
            @foreach (PostModel pm in Model.Posts)
            {
                <div class="d-flex flex-wrap">
                    <partial name="Post/_PostPartial.cshtml" for="@pm">
                </div>
            }
        </div>
    </div>
}  